*{ 
    text-align: center; 
} 

#mainTopic { 
color: blue; 
} 

#mainTopic::first-letter { 
    color: red; 
    } 

.heading{ 
font-family: Georgia; 
} 


.para { 
background-color: cornflowerblue; 
color: white; 
} 

div button { 
    background-color: purple; 
    color: azure; 
}


button:hover { 
background-color: yellow; 
color: blue; 
} 
 
.para:nth-of-type(odd) { 
color: yellow; 
} 
 
#yes:checked + label { 
color: darkgreen; 
}