body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    font-family: 'Montserrat' ,sans-seri;
}


.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 0.5rem;
    overflow: auto;
}

.music-player{
    background-color:gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.anchor{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
}


.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;  
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.25rem 0.75em;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;

}

#home{
    opacity: 1;
}

.liburary{
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.lib-option img{
    width:1.25rem;
    height: 1.25rem;
}

.liburary .options{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}   

.box{
    background-color: #232323;
    height: 10rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0rem 0.75rem 0rem;
    padding: 0.75rem 1rem;
}

.boxone{
    height: 7.5rem;
}

.box-para1{
    font-size: 1rem;
    font-weight: 500;
}

.box-para2{
    font-size: 0.8rem;
    opacity: 0.8;
}

.badge{
    background-color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 6rem;
    padding: 0.25rem 1rem;
    height: 2rem;
    width: fit-content;
}

.sticky-navbar{
    position: sticky;
    top: 0;
    background-color: #121212f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem 0.5rem 1.25rem;
    z-index: 1;
}

.sticky-navbar img{
    width: 1.55rem;
    height: 1.55rem;
}

.sticky-navbar .bar-icons{
    flex-basis: 50%;
}
    
.sticky-navbar .bar-buttons{
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        font-size: 1.25rem;
}

.bar-buttons .two{
    background-color: #0b0b0b;
    color: #fff;
}
.bar-buttons .two:hover{
    background-color: #000000e9;
    color: #fff;
}

.bar-buttons i{
    padding-right:0.75rem;
}

.albums{
    padding: 0rem 1.5rem; 
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #232323;
    width: 170px;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0.2rem 1rem;
    margin: 1rem 0rem 0rem 1.1em ;

}

.card img{
    width: 100%;
    border-radius: 0.5rem;
}

.card .card-title{
    font-weight: 700;
}

.card .info{
    font-size: 0.8rem;
    opacity: 0.8;
    line-height: 1.75;
}

.albums .more{
    justify-self: end;
    text-decoration: none;
    color: #fff;

}

.links {
    margin-top: 50px;
    height: 210px;  
    display: flex;
    gap: 2.5rem;
}


.footer #head{
    font-weight: 700;
    opacity: 1;
    font-size: 1rem;
}
.footer #head:hover{
    text-decoration: none;
}

.footer ul>li{
    font-size: 0.8rem;
    list-style: none;
    line-height: 1.7;
    opacity: 0.7;
    font-weight: 400;
}

.footer ul>li:hover{
    text-decoration: underline;
    line-height: 1.7;
    opacity: 1;
}

.break hr{
    opacity: 0.2;
}

.gap{
    height: 80px;
}

.copyright p{
    font-size: 0.9rem;
    opacity: 0.7;
    margin-top: 1.5rem;
}

.social{
    flex: 1;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    margin-right: 0.75rem;
}

.opt{
    background-color: #232323;
    padding: 1rem;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
}

.opt i{
    font-size: 1.5rem;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.music-player{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
}

.music-player .album{
    flex-basis: 20%;
}

.album{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#cover{
    margin-left: 0.75rem;
    height: 3rem;
    width: 3rem;
}


.album-info{
    font-size: 0.75rem;
    position: absolute;
    left: 5rem;
}

.album-info #track-name{
    font-weight: 700;
    line-height: 0.75;

}

.album-icon{
    height: 1.7rem;
    width: 1.75rem;
}

#two{
    width: 1.75rem;
    height: 1.75rem;
}

.music-player .player{
    flex-basis: 55%;
}

.player .player-controls{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2.5rem;
}

.player .audio-bar{
    margin-top: 0.25rem;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
}

.player .player-control-icon{
    height: 1rem;
    width: 1rem;
    opacity: 0.7;
}
.player .play{
    height: 2rem;
    width: 2rem;
}

.player .player-control-icon:hover{
    opacity: 1;
}

.player .audio-bar{
    font:0.75rem;
}


.audio-bar .progress-bar{
    width: 70%;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.15rem;
    border-radius: 3rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance:none;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #1bd760;
    margin-top: -4px;
    border-radius: 50%;

}

.music-player .controls{
    flex-basis: 25%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.controls .menu{
    height: 1.5rem;
    width: 1.5rem;
}

.controls .mic{
    width: 1.7rem;
}

.controls img{
    height: 2.2rem;
    width: 2.2rem;
    opacity: 0.7;
}

.controls img:hover{
    opacity: 1;
}

.volume-bar{
   appearance: none;
}

.volume-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.15rem;
    border-radius: 3rem;
}

.volume-bar::-webkit-slider-thumb{
    appearance:none;
    border-radius: 50%;
}

/* media query */

@media (max-width:1000px){
    .hide{
        display: none;
    }
}

/* ends */