h1{
    text-align: center;
}
#face{
    width: 500px;
    height: 500px;
    background-color: #ffa411d5;
    border-radius: 50%;
    margin: 0 auto;
}

.eyes{
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0px 90px 0px 0px;
    top:120px;
    left: 95px;
}

#mouth{
    width: 300px;
    height: 100px;
    background-color: rgb(253, 47, 47);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    top: 200px;
    left: 100px;
}