*{
    text-align: center;
}

#mainTopic{
    color: #0000ff;
}

#mainTopic::first-letter{
    color: red;
}
  
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.para{
    color:#fff;
    background-color:#6495ed;
}


div button{
    background-color: #800080;
    color: #f0ffff;
}

button:hover{
    color: #0000ff;
    background-color: #ffff00;
}

p:nth-child(odd){
    color: #ffff00;
}

#yes:checked+label{
    color: #006400;
}

